$bg: #ffffff;
$sbg: #323946;
$tc: #000010;
$mc: rgba(247, 5, 5, 0.849);

:root {
  color-scheme: light dark;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  z-index: 1;
}

html {
  font-size: 72.5%;
}

body {
  background-color: light-dark ($bg, $sbg);
  color: light-dark ($tc, $bg);
  ::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
section {
  min-height: 80%;
  margin-top: 1rem;
  padding-top: 7rem;
}

/* Header styling starts here


for Header*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  z-index: 5;
  background-color: light-dark(#ffffff, #000010);
  .header-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 2.5rem;
      font-weight: 600;
      cursor: default;
    }
  }
}
#menu-icon {
  font-size: 3.6rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.7rem;

  .navlink {
    font-size: 1.7rem;
    margin-left: 4rem;
    transition: 0.3s;
  }

  .navlink:hover {
    color: $mc;
  }
  .navlink.active {
    color: $mc;
  }
}

/* header styling ends here */
/* header styling ends here */
/* header styling ends here */

/* Home or landing page  styling starts her (landing page) */
/* Home or landing page  styling starts her (landing page) */

.home {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  padding-top: 7rem;

  .home-content {
    h1 {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.3;
    }

    p {
      font-size: 1.6rem;
      margin: 1rem;
    }
    h3 {
      font-size: 3.2rem;
      font-weight: 700;

      &:nth-of-type(2) {
        margin-bottom: 2rem;
      }
    }

    .github-link {
      margin: 2rem 0px;
      padding: 1rem;
      padding-left: 0rem;
      a {
        background: $mc;
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;
        margin: 1rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: $bg;
        transition-property: all;
        transition-duration: 1s;

        &:hover {
          color: rgb(206, 186, 186);
          box-shadow: none;
          font-size: 1.7rem;
        }
      }
    }
  }
  .image {
    height: 70%;
    img {
      height: 100%;
    }
  }
}

//
span {
  color: $mc;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  .about-content {
    opacity: 100%;
    h2 {
      text-align: left;
      font-size: 6rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 2.6rem;
    }
    p {
      font-size: 2rem;
      line-height: 3rem;
      margin: 2rem 0 3rem;
    }
  }
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}

.portfolio {
  max-width: 1450px;
  margin: 0 auto;
  h2 {
    margin-bottom: 4rem;
  }
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 8rem;
  .portfoli-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem $bg;
    overflow: hidden;
    display: flex;
    height: 250px;

    img {
      width: 100%;
      transition: 0.5s ease;
    }
  }
}

.portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(243, 232, 232, 0.5), rgb(221, 36, 36));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
  h4 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: $bg;
    border-radius: 50%;
  }
}
.portfoli-box:hover img {
  transform: scale(1.1);
}

.portfoli-box:hover .portfolio-layer {
  transform: translateY(0);
}

/* Styling the footer */

.footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  flex-wrap: wrap;
  background-color: light-dark(#ffffff, #000010);
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    .footer-text {
      p {
        font-size: 1.6rem;
      }
    }
    .social-media {
      height: fit-content;
      padding: 0;
      margin: 0;
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        background: transparent;
        border: 0.2rem solid $mc;
        border-radius: 50%;
        font-size: 2rem;
        color: $mc;
        margin: 1.5rem 1.5rem 1.5rem 0;
      }

      a:hover {
        background: $mc;
        color: $bg;
        box-shadow: 0 0 1rem $mc;
      }
    }
  }
}
.skills {
  display: flex;
  max-width: 1440px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 8rem;
  padding-bottom: 4rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  .grid-image {
    background: none;
    width: fit-content;
    padding: 10px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    p {
      text-align: center;
      font-size: 2rem;
    }
  }
}
aside {
  padding: 1rem;
}
// The sidebar shows when the menu icon is
// clicked it is for navigation
.sidebar {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem 2rem;
  background-color: rgb(173, 173, 173);

  a {
    color: $bg;
    font-size: 3rem;
    z-index: 20;
  }
  a.active {
    color: red;
  }
  a:hover {
    color: red;
  }
}

// The sidebar shows when the menu icon is
// clicked it is for navigation

.project-link {
  margin-top: 2rem;

  a {
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid red;
    padding: 1rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
  }
}

/* BREAKPOINTS */

@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
  .img {
    width: 40vw;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 2rem 3% 2rem;
  }

  .portfolio {
    margin-top: 12rem;
  }

  .footer {
    padding: 0.1rem 3%;
  }
  .img {
    width: 35vw;
  }
}

@media (max-width: 760px) {
  section {
    margin-top: 4rem;
  }
  .home {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 95vw;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h {
    font-size: 5rem;
  }
  .img {
    width: 90vw;
    margin-top: 1rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img {
    min-width: 100vw;
    display: grid;
    place-content: center;
    img {
      width: 100vw;
    }
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  .projectPage {
    display: block;
  }
}
@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  .projectPage {
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .home-img img {
    width: 90vw;
  }
  .about-img img {
    width: 100vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
  .social-media a {
    width: 2rem;
    height: 2rem;
  }
  .grid {
    display: block;
  }
  .grid-image {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
}
